<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="team-member" style="margin-bottom: 20px ">
                    <img src="{{ site.baseurl }}/img/me.png" class="img-responsive img-circle" alt="">
                    <!-- <i class="fa fa-envelope" style="margin-right:10px"></i> -->
                    <!-- <blockquote align="left">
                        <p style="margin-bottom: 0px">I am a designer</p>
                        <p style="padding-left: 0px">of an everyday thing called life.</p>
                        <p style="margin-bottom: 0px">I design thinking</p>
                        <p style="padding-left: 00px; margin-bottom: 0px;">of making a difference.</p>
                    </blockquote> -->

                    <div class="well">
                        <p style="margin-bottom: 5px">I am a designer of an everyday thing called life</p>
                        <p style="margin-bottom: 5px">I design thinking of making a difference</p>
                    </div>
                    <div style="padding-top: 15px">
                        <h4 style="margin: 15px">neha.javalagi@gmail.com</h4>
                        <ul class="list-inline social-buttons">
                            {% for network in site.social %}
                            <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>    
             <div class="col-md-8">
                <div style="margin-bottom: 20px">
                {% for t in site.attributes %}
                    <span class="label label-header">{{ t }}</span>
                {% endfor %}
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <h4 style="margin-bottom: 5px">Goals</h4>
                            <ul class="wide-spaced" style="padding-left: 20px;">
                                <li>Using software as a tool to help solve social problems</li>
                                <li>Developing user centric products that connect users to and with technology</li>
                                <li>Design thinking a life of passionate pursuit of creativity</li>
                                <li>Using poetry as a medium to ask tough questions</li>
                            </ul>
                        </div>
                        <div>
                            <h4 style="padding-top: 10px; margin-bottom: 5px">Frequent question</h4>
                            <p>How can I help?</p>
                        </div>
                        <div>
                            <h4 style="padding-top: 10px; margin-bottom: 5px">Frustration</h4>
                            <p>Design that is 'learned' and not intuitive which alienates people rather than connecting them</p>
                        </div>
                        <div>
                            <h4 style="padding-top: 10px; margin-bottom: 5px">Bio</h4>
                            <p>I am a <b>Masters student</b> at the <b>School of Information</b> at the <b>University of Texas at Austin</b> currently seeking <b>internship opportunities</b> for the <b>Summer of 2017</b> to gain practical experience so as to become a better developer and designer. I am passionate about using design and improved interaction to solve relevant social problems in the field of health and education with a special interest in Health informatics, UX Research and HCI.</p>
                            
                        </div>
                    </div>
                    <div class="col-md-4" align="left">
                        <h4>Skills</h4>
                            <div class="row">
                                <div class="col-md-3" >
                                    <b>Design</b>
                                </div>
                                <div class="col-md-9">
                                    <ul class="list-unstyled">
                                        <li>Usability testing</li>
                                        <li>Storyboarding</li>
                                        <li>Prototyping</li>
                                    </ul>        
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-3" >
                                    <b>Coding</b>
                                </div>
                                <div class="col-md-9">
                                    <ul class="list-unstyled">
                                        <li>C, C++, Java, Python, Javascript</li>
                                        <li>HTML5, CSS3</li>
                                    </ul>        
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-3" >
                                    <b>Tools</b>
                                </div>
                                <div class="col-md-9">
                                    <ul class="list-unstyled">
                                        <li>Android Studio</li>
                                        <li>Adobe Illustrator</li>
                                        <li>Sketch, Axure</li>
                                        <li>XCode IDE</li>
                                    </ul>        
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-3" >
                                    <b>Hobbies</b>
                                </div>
                                <div class="col-md-9">
                                    <ul class="list-unstyled">
                                        <li>Blogging</li>
                                        <li>Creative Writing</li> 
                                        <li>Playing the Piano</li>
                                        <li>Paper Quilling</li>
                                    </ul>        
                                </div> 
                            </div>
                            <h4 style="padding-top: 24px; margin-bottom: 2px" align="left">Personality</h4>
                            {% for t in site.traits %}
                                <div class="row">
                                    <div class="col-sm-10 col-md-12">
                                        <div class="col-sm-offset2 col-sm-5" align="left" style="padding:0px">{{ t.left }}</div>
                                        <div class="col-sm-7" align="right" style="padding:0px">{{ t.right }}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10 col-md-12">
                                        <div class="progress" style="margin-bottom: 5px">
                                            <div class="progress-bar progress-bar-transparent" style="width: {{ t.value | to_integer }}%"></div>
                                            <div class="progress-bar progress-bar-danger" style="width: 5%"></div>
                                        </div>            
                                    </div>
                                </div>
                            {% endfor %}
                    </div>
                </div>
             </div>   
        </div>
    </div>
</section>