<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="page-top" style="padding-top: 120px;" class="index">
    {% include header.html %}
	<div class="container small-container">
		<div class="row">
			<div class= "col-sm-6">
				<h2>{{ page.title }}</h2>
				<hr class="star-primary">
				<p>{{ page.summary}}</p>
				<br>
				<hr class="star-primary">
				<b>Logo Design</b><br>
				<p>{{ page.logodesign}}</p>

			</div>
			<div class= "col-sm-6">
			{% if page.head == 'image' %} <img src= "{{ site.baseurl }}/img/projects/{{page.img}}" class="img-responsive img-centered">
			{% elsif page.head == 'vimeo1' %} <iframe src="{{ page.vimeo }}?byline=0&portrait=0" width="498" height="280" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
			{% elsif page.head == 'vimeo2' %} <iframe src="https://player.vimeo.com/video/216451843" width="498" height="280" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/216451843">Natural Language Processing for conversational interfaces</a> from <a href="https://vimeo.com/user66375444">Neha Javalagi</a> on <a href="https://vimeo.com">Vimeo</a>.</p>			{% endif %}				
			</div>
		</div>
			
		<hr class="star-primary">

		<div class="row" >
			<p>{{ page.description }}</p>
			<p>{{ page.content }}</p>
		</div>
	</div>
	{% include footer.html %}
    {% include js.html %}
    </body>
</html>